/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    font-family: 'Habibi', sans-serif;
    color: var(--black);
    background-color: var(--white);
}

h1, h2, h3 {
    font-family: 'Irish Grover', cursive;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3, p {
    font-size: 1.25em;
    line-height: 1.5em;
}

/* -------------------- HEADER SECTION (mobile first/small) --------------------*/

.header {
    color: var(--white);
    text-align: center;
}

.header h1 {
    margin: 0;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    
}

.header p {
    margin: 0;
    font-size: 1.25em;
    padding-bottom: 10px;
    font-style: italic;
}

.header-title-container{
    background-color: var(--green);
    padding: 10px;
}

/* -------------------- NAVIGATION BUTTONS (mobile first/small) -------------------- */
.nav-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    padding: 60px;
    gap: 15px;
  }

  .nav-container nav ul li a {
    display: block;
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--white);
 
  }


/* -------------------- SECTION STYLES (mobile first/small) -------------------- */
.section {
    padding: 30px 20px;
    text-align: left;
    color: var(--black);
}

.section p {
    padding-bottom: 20px;
}

.section h2 {
    padding-bottom: 10px;
}

.section h3{
    text-align: center;
}

/* -------------------- GRID STYLES FOR FRUITS/VEGETABLES GRID (mobile first/small) -------------------- */
.Fruits-Photo-Grid, .Vegetables-Photo-Grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    padding: 30px;
}

.product {
    position: relative;
    text-align: center;
    color: var(--white);
}

.product img {
    width: 100%;
    height: auto;
}

.product p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    width: 145px;
}

/* -------------------- FOOTER (mobile first/small) -------------------- */
.footer {
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    padding: 20px;
    position: relative;
}

.footer h2{
    margin-bottom: 10px;
}

.contact{
    margin: 30px 0 50px 0;
    
}


.copyright {
    text-align: center; 
    padding: 10px 0; 
    color: var(--green);
}

/* -------------------- BACK TO TOP (mobile first/small) -------------------- */

#backToTop p{
    display: block; 
    color: var(--white); 
    background-color: var(--orange); 
    border: 2px solid var(--white); 
    position: fixed; 
    bottom: 20px; 
    right: 0; 
    margin: 0; 
    padding: 14px 10px;  
    border-radius: 5px; 
    text-align: center;  
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media (min-width: 834px) {

/* -------------------- HEADER SECTION (medium) --------------------*/
.header-title-container{
    display: flex;
    background-color: var(--green);
    color: var(--white);
    padding: 10px;
    align-items: center;
    justify-content: space-between;

}

/* -------------------- NAVIGATION BUTTONS (medium) -------------------- */
.nav-container nav ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

/* -------------------- GRID STYLES FOR FRUITS/VEGETABLES GRID (medium) -------------------- */
.Fruits-Photo-Grid, .Vegetables-Photo-Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 60px 80px;
    padding: 30px;
}

.product {
    position: relative;
    text-align: center;
    color: var(--white);
}

.product img {
    width: 100%;
    height: auto;
}

.product p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    width: 145px;
}

/* -------------------- FOOTER (medium) -------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    color: var(--white);
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

.footer h2{
    margin-bottom: 10px;
}

.copyright {
    text-align: center; 
    padding: 10px 0; 
    color: var(--green);
}

}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media (min-width: 1280px) {

/* -------------------- HEADER SECTION (large) --------------------*/
.header{
    background-color: var(--green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.header-title-container {
    display: block;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.header-title-container h1 {
    margin-bottom: 5px;
}

/* -------------------- NAVIGATION BUTTONS (large) -------------------- */

.nav-container nav ul{
    padding-right: 30px;
}

/* -------------------- GRID STYLES FOR FRUITS/VEGETABLES GRID (large) -------------------- */
.Fruits-Photo-Grid, .Vegetables-Photo-Grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);


}

/* -------------------- FOOTER (large) -------------------- */

.contact {
    display: flex;
    align-items: center; 
    gap: 80px;           
}

.hours {
    display: flex;
    align-items: center;
    gap: 80px;
}

#backToTop p{
    margin-right: 10px;
}

}


/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media (min-width: 1440px) {

/* -------------------- GRID STYLES FOR FRUITS/VEGETABLES GRID (large ) -------------------- */
.Fruits-Photo-Grid, .Vegetables-Photo-Grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
}

}